.socials {
    display: flex;
    justify-content: space-around;
}

.social-img {
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
}

.social-img:hover{
    transform: rotate(180deg);
}

.contacts > .main-title {
    margin-top: 50px;
}

.contact-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


@media only screen and (max-width: 400px) {
    .social-img {
        width: 30px;
        height: 30px;
    }
}