body {
  position: relative;
  background-color: var(--main-bg);
  border: 20px solid var(--main-border);
}

body::after {
  position: absolute;
  right: -5px;
  top: -5px;
  content: "";
  width: 0;
  height: 0;
  border-top: 50px solid var(--main-border);
  border-left: 50px solid transparent;
}
body::before {
  position: absolute;
  left: -5px;
  bottom: -5px;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 50px solid var(--main-border);
  border-right: 50px solid transparent;
}

.container-fluid {
  background-color: var(--secondary-bg);
}
