.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 60px 0;
  align-items: center;
  line-height: 0;
}

.navigation > .list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-text);
  opacity: 0.2;
}

.header-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--secondary-text);
}

.link {
  text-decoration: none;
  color: var(--secondary-text);
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 15px;
}

.link:hover {
  background-color: var(--hover);
  color: #fff;
  transition: 0.3s;
}

.menu-title {
  display: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 200;
  color: var(--secondary-text);
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #1f2122;;
  margin: 5px 0;
  transition: .4s;
}

.change .bar1 {
  transform: rotate(-40deg) translate(-6px, 5px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(40deg) translate(-6px, -6px) ;
}


.hamburger {
  display: none;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .header-title {
    font-size: 16px;
  }
  .link {
    font-size: 15px;
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    display: inline-block;
    text-align: center;
  }
  .header-title {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .navigation > .list {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}


@media only screen and (max-width: 576px) {
  .navigation > .list {

    display: inline-block;
    position: absolute;
    top: 130px;
    left: 0;
    background-color: #1f2122;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .navigation > .list > li {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .hamburger  {
    display: inline-block;
  }
  .header {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
  }
}

