.projects {
    text-align: center;
    margin-bottom: 110px;
}

.projects-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 40px;

}
.project-box {
    padding: 20px;
    width: 30%;
    border: 2px solid transparent;
    transition: transform 0.5s;
    cursor: pointer;
}

.project-box:hover {
    transform: translateY(-4%);
    animation-name: border;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.project-title {
    margin: 10px 0;
    color: var(--secondary-text);
}

.project-desc {
    margin: 10px 0;
    color: var(--main-text);
}

.project-lang {
    color: var(--main-text);
}

.project-img {
    width: 80%;
}


@keyframes border {
    0% {
        border-right-color: var(--hover);
    }
    25% {
        border-bottom-color: var(--hover);
    }
    50% {
        border-left-color: var(--hover);
    }
    75%{
        border-top-color: var(--hover);
    }
    100% {
        border: 2px solid var(--hover);
    }
}

@media only screen and (max-width: 1200px) {
    .project-title {
        font-size: 16px;
      }
}


@media only screen and (max-width: 992px) {
    .projects-wrapper {
        display: inline-flex;
        justify-content: space-between;
        gap: 0;
    }
    .project-box {
        width: 50%;
    }
    .project-title {
        font-size: 16px;
      }
      
      .project-desc {
        font-size: 12px;
      }
      
      .project-lang {
         font-size: 12px;
      }
}
@media only screen and (max-width: 768px) {
    .project-box {
        padding: 20px;
        width: 100%;
    }
    .project-title {
      font-size: 18px;
    }
    
    .project-desc {
      font-size: 14px;
    }
    
    .project-lang {
       font-size: 14px;
    }
}
@media only screen and (max-width: 576px) {
    .project-title {
        font-size: 12px;
      }
      
      .project-desc {
        font-size: 10px;
      }
      
      .project-lang {
         font-size: 10px;
      }
}